@import "fontes/garcia/garcia-stylesheet.css";


body{
  font-family: 'Garcia-Regular';
  font-size: 20px;
  h1{
    color: red;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid blue;
    background: white;
    padding: 10px 20px;
    ul{
      display: flex;
      li{
        display: inline;
        color: blue;
        margin-right: 40px;
        width: 10px;
        text-align: center;
        h1{
          display: inline;
        }
      } 
      li.current,
      li:hover{
        border: 1px solid blue;
        border-bottom: none;

      }
      li.title{
          border: 1px solid red;
          border-bottom: white;
          flex-grow: 1;
      }
      li.ressources{
        flex-grow: 4;
      }
    }
  }
  nav:hover{
    background: white;
  }
  #content{
    .part{
      display: flex;
      border-bottom: 1px solid blue;
      min-height: 1000px;
      .section{
        // padding-top: 60px;
        width: 0px;
        padding: 0px 20px;
      }
      .left{
        flex-grow: 1;
        // padding-right: 20px;
        border-right: 1px solid red;
        z-index: 100;
        ul{
          position: fixed;
          top: 60px;
          li{
            h1{
              margin-bottom: 20px;
            }
          }
          li:hover,
          li.current{
            color: green;
            cursor: pointer;
          }
        }
      }
      .right{
        flex-grow: 4;
        img{
          width: 100%;
          max-width: 700px;
          padding: 50px;
        }
        h2,
        p,
        ul{
          max-width: 800px;
          text-align: justify;
          text-indent: 40px;
          hyphens: auto;
        }
        h2{
          padding-top: 60px;
          color: green;
          text-transform: uppercase;
        }
        h2 + p,
        ul{
          text-indent: 0;
        }
        ul{
          li{
            ul{
              margin-left: 20px;
              li:before{
                content: '→ ';
              }
            }
          }
        }
        p{
          ul{
            li{
              margin-left: 20px;
            }
            li:before{
              content: '→ ';
            }
          }
        }
        em{
          border: 1px solid green;
        }
      }
    }
    #ressources{
      position: fixed;
      background: white;
      top: 0;
      bottom: 0;
      right: 0;
      width: 33.33%;
      padding: 0px 20px;
      border-left: 1px solid red;
      overflow-y: auto;
      .cross{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      .close:hover{
        color: green;
      }
      h1{
        margin-top: 10px;
        text-align: center;
      }
      ul{
        margin-top: 20px;
        li{
          h2{
            color: green;
            margin-top: 20px;
          }
          ul{
            margin-left: 20px;
            margin-top: 0;
            li:before{
              content: '→ '
            }
          }
        }
      }
    }
  }
  footer{
    position: fixed;
    color: blue;
    bottom: 20px;
    right: 20px;
    span{
      cursor: pointer;
    }
  }
}
