
/*Garcia-Regular*/
@font-face {
    font-family: 'Garcia-Regular';
    src: url('Garcia-Regular/Garcia-Regular.eot'); /* IE 9 Compatibility Mode */
    src: url('Garcia-Regular/Garcia-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('Garcia-Regular/Garcia-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('Garcia-Regular/Garcia-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Garcia-Regular/Garcia-Regular.svg#Garcia-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
    }
